#m1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#i1{
    width: 200px;
    height: 200px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#i1:hover{
    width: 400px;
    height: 400px;
    background-color: red;
    transition: 0.2s;
    transition-delay: 0.2s;
}